{% load misc_filters %} 
{% load static %}

<div class="row">
  {% if has_view_permission or has_change_permission or has_delete_permission %}
  
  <div class="col-lg-6">
   <a
      href="{% url opts|admin_urlname:'update' obj.pk %}"
      class="btn btn-xs btn btn-sm btn-sm"
      title="Edit"
      ><i class="fa-solid fa-pen text-primary"></i
    ></a> 
  </div>

  {% endif %} 

  {% if has_delete_permission %}

  <div class="col-lg-6">
    <a
      id="delete-{{opts.model_name}}-{{obj.pk}}"
      class="btn btn-xs btn btn-sm btn-sm"
      title="Delete"
      ><i class="fa-solid fa-trash text-danger"></i
    ></a>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#delete-{{opts.model_name}}-{{obj.pk}}").on("click", function () {
      confirmDelete("{{obj.pk}}");
    });
  });
</script>
{% endif %}
