<!DOCTYPE html>
{% load static %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Login</title>
    <link rel="icon" href="{% static 'images/favicon.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/graphik_font.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">

    <!-- <link rel="stylesheet" href= "{% static 'css/custom.css' %}"> -->
</head>

<body>
    <div class="rw_login_wrapper">
        <div class="rw_login_inner">
            <h1>Create New Password</h1>
            
            <form action="{% url 'user:change_password' %}" method="post">

                {% csrf_token %}
                {% include 'includes/messages.html' %}

                <div class="rw_form_inputs">
                    <div class="rw_input">
                        <input type="password" placeholder="New Password" oninput="validatePassword(this)"
                            name="new_password" required>
                        <span class="text-danger" id="password-error"></span>
                    </div>
                </div>
                <div class="rw_form_inputs">
                    <div class="rw_input">
                        <input oninput="validateConfirmPassword(this)" type="password"
                            placeholder="Confirm New Password" name="confirm_new_password" required>
                        <span class="text-danger" id="cpassword-error"></span>
                    </div>
                </div>
                <div class="rw_forgot_remember">

                    <!-- <div class="forgot_password">
                    <a href="javascript:;">forgot password?</a>
                </div> -->
                </div>



                <div class="login_btns">
                    <input type="submit" id="admin_login" value="Verify" class="login_btn" style="border:none;">
                </div>
            </form>
        </div>
    </div>


    <script>
        function validatePassword(el) {
            const password = el.value;
            const passwordRegex = /(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,30}/
            if (passwordRegex.test(password)) {
                document.getElementById("password-error").innerHTML = ""
            } else {
                document.getElementById("password-error").innerHTML = "Please enter a valid password"
            }
        }

        function validateConfirmPassword(el) {
            const password = el.value;
            if (document.getElementsByName("new_password")[0].value === password) {
                document.getElementById("cpassword-error").innerHTML = ""
            } else {
                document.getElementById("cpassword-error").innerHTML = "Password doesn't match"
            }
        }

    </script>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
    <!-- <script src="{% static 'js/custom.js' %}"></script> -->

</html>