<!DOCTYPE html>
{% load static %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Login</title>
    <link rel="icon" href="{% static 'images/favicon.svg' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/graphik_font.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href= "{% static 'css/login.css' %}">
    <link rel="stylesheet" href= "{% static 'css/icons.css' %}">

    <!-- <link rel="stylesheet" href= "{% static 'css/custom.css' %}"> -->
</head>
<body>
   
        <h2>Hello {{ username }}</h2>
        <p>Click the link below to reset your password:</p>
        <a href="{{ reset_password_url }}">Reset Password</a>
   
    
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
    <!-- <script src="{% static 'js/custom.js' %}"></script> -->
</html>