{% extends 'base/base.html' %}
{% load static %}
{% load misc_filters %}
{% block title %}
    {{ opts.verbose_name_plural|capfirst }}  | Blogs
{% endblock %}
{% block content %}
{%include 'includes/sidebar_header.html' %}

    <div class="text-center">
        {% include 'includes/messages.html' %}
    </div>

    <h1>Welcome to blog form page</h1>


    
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/user_datatable.js' %}" ></script>
</body>
{% endblock %}
